server:
  port: ${PORT:8080}

spring:
  application:
    name: java-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: "always"
  metrics:
    tags:
      application: java-service
